---
import threeCanvasUrl from './threeCanvasClient.ts?url'
const { aspectRatio = '4 / 3' } = Astro.props
---

<div id="three-canvas-container" style={`width: 100%; aspect-ratio: ${aspectRatio}; position: relative;`}></div>
<script type="module" src={threeCanvasUrl}></script>
